.card {
    box-shadow: inset 5px 5px 100px rgba(38, 89, 255, 0.322);
    /* background-color: rgba(255, 203, 203, 0.466); */
    background-color: #acacac49;
    box-shadow: 3px 2px 15px blue;
}
.card:hover{
    box-shadow: inset 5px 5px 100px rgba(255, 255, 255, 0.322);
    background-color: rgb(204, 201, 241);
    box-shadow: 1px 2px 5px black;
}